@model TheFacebook.Models.Person
@{
    ViewBag.Title = "Creaza-ti profilul";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Person/New">
    @Html.HiddenFor(m => m.UserId)
    <br />
    <br />

    @Html.Label("Username", "Nume")
    <br />

    @Html.TextBox("Username", null, new { @class = "form-control" })
    @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.RadioButtonFor(m => m.PrivateUser, "True") Private
    @Html.RadioButtonFor(m => m.PrivateUser, "False") Public
    <br />
    <br />

    <button class="btn btn-success" type="submit">Creeaza profil</button>
</form>