@model TheFacebook.Models.Person

@{
    ViewBag.Title = "Show Profile";
}

<h2>@ViewBag.Message</h2>
<h1 class="display-4"> @(Model.Username) 's profile </h1>

@if (ViewBag.IsAuthenticated == true && ViewBag.MyProfile == false && ViewBag.IsAdmin == false)
{
    if (ViewBag.IsFriend == true)
    {
        <h3> Friends </h3>
    }
    else
    {
        if (ViewBag.Pending == true)
        {
            <h3> Pending </h3>
        }
        else
        {
            using (Html.BeginForm(actionName: "SendFriendRequest", controllerName: "Person", routeValues: new { receiverId = Model.PersonId, senderId = ViewBag.SenderId }, method: FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0", role = "form" }))
            {
                <button class="btn btn-success" type="submit"> Send Friend Request </button>
                <br />
            }
        }
    }
}

@if (Model.PrivateUser == true && ViewBag.IsFriend == false && ViewBag.MyProfile == false && ViewBag.IsAdmin == false) //// daca nu sunt prieteni afiseaza
{
    if (ViewBag.IsAuthenticated == false)
    {
        <h2> Nu puteti vedea un cont privat daca nu sunteti autentificat. </h2>
    }
    else
    {
        <h2> Cont privat, trimiteti o cerere de prietenie. </h2>
    }
}
else
{
    <h2> Galleries </h2>
    foreach (TheFacebook.Models.Gallery gallery in Model.Galleries)
    {
        <div class="panel panel-default">
            <div class="panel-heading">

                @gallery.GalleryName
                <br />
                <br />
                <a class="btn btn-sm btn-success" href="/Gallery/Show/@gallery.GalleryID">Afisare galerie</a>
                <br />
                <br />
                @using (Html.BeginForm(actionName: "Delete", controllerName: "Gallery", routeValues: new { personId = Model.PersonId, galleryId = gallery.GalleryID }, method: FormMethod.Post))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-success" type="submit"> Delete gallery </button>
                }
                
            </div>
        </div>
        <br />
        <br />
    }

    if (ViewBag.MyProfile)
    {
        <a class="btn btn-sm btn-success" href="/Gallery/New/@Model.PersonId">Adauga galerie</a>
    }
}

@if (ViewBag.MyProfile)
{
    // afiseaza cereri prietenie, cu accept
    foreach (TheFacebook.Models.Person person in Model.Requests)
    {
        <div class="panel panel-default"> @person.Username </div>
        <br />

        using (Html.BeginForm(actionName: "AcceptFriendRequest", controllerName: "Person", routeValues: new { receiverId = Model.PersonId, senderId = person.PersonId }, method: FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0", role = "form" }))
        {
            <button class="btn btn-success" type="submit"> Accept </button>
            <br />
        }

        using (Html.BeginForm(actionName: "CancelFriendRequest", controllerName: "Person", routeValues: new { receiverId = Model.PersonId, senderId = person.PersonId }, method: FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0", role = "form" }))
        {
            <button class="btn btn-success" type="submit"> Reject </button>
            <br />
        }
    }
}