@model TheFacebook.Models.Gallery

@{
    ViewBag.Title = "Show Gallery";
}

<h1>  @Model.GalleryName </h1>

@foreach (TheFacebook.Models.Photo photo in Model.Photos)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @photo.PhotoName
            <br />
            <br />
            <img height="75" width="75" src="@String.Format("data:image/jpg;base64,{0}", @photo.Image)" />
            <br />
            <br />
            <a class="btn btn-sm btn-success" href="/Photo/Show/@photo.PhotoId">Afisare fotografie</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Photo", routeValues: new { galleryId = Model.GalleryID, photoId = photo.PhotoId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <br />
                <button class="btn btn-success" type="submit"> Delete photo </button>
            }

        </div>
    </div>
    <br />
}

<br />

@if(ViewBag.MyProfile == true)
{
    <a class="btn btn-sm btn-success" href="/Photo/New/@Model.GalleryID">Adauga poza</a>
}


