@model TheFacebook.Models.Photo

@{
    ViewBag.Title = "Show";
}

<h3>@ViewBag.Message</h3>

<div>
    <hr />

    <!--<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.PhotoName</h5>
        </div>
    </div>-->

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            <i>@Html.DisplayFor(model => model.PhotoName)</i>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <!-- <img src="~/Photo?id=Model.PhotoId" alt="avatar" /> -->
            <!--Html.DisplayFor(model => model.Content) -->

            <img height="150" width="150" src="@String.Format("data:image/jpg;base64,{0}", Model.Image)"/>
        </dd>
    </dl>

    @foreach (TheFacebook.Models.Comment comment in Model.Comments)
    {
        <div class="panel panel-default">
            @comment.Text
            <br />
            @comment.Date
            <br />
            @comment.CreatedBy
            <br />
            <br />

            @if (comment.UserId == ViewBag.currentUser || ViewBag.isAdmin)
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Comment", routeValues: new { photoId = Model.PhotoId, commentId = comment.CommentId }, method: FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0", role = "form" }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    <button class="btn btn-success" type="submit"> Sterge comentariu </button>
                }
            }

        </div>
    }

    @using (Html.BeginForm("New", "Comment", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0", role = "form", id = "commentBox" }))
    {
        @Html.Hidden("photoId", Model.PhotoId)
        <input class="form-control mr-sm-2" type="text" placeholder="Adauga un comentariu" name="text" />
        <button class="btn btn-sm btn-success" type="submit"> Comenteaza </button>
    }
</div>
