@model TheFacebook.Models.Photo

@{
    ViewBag.Title = "Show";
}

<h3>@ViewBag.Message</h3>
<h2>Show photo</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <!-- <img src="~/Photo?id=Model.PhotoId" alt="avatar" /> -->
            <!--Html.DisplayFor(model => model.Content) -->

            <img height="100px" width="100px" src="@String.Format("data:image/jpg;base64,{0}", Model.Image)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GalleryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryId)
        </dd>

    </dl>

    @foreach (TheFacebook.Models.Comment comment in Model.Comments)
    {
        <div class="panel panel-default">
            @comment.Text
            <br />
            @comment.Date
            <br />
            @ViewBag.UserName
            <br />
            <br />

            @if (comment.UserId == ViewBag.currentUser || ViewBag.isAdmin)
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Comment", routeValues: new { photoId = Model.PhotoId, commentId = comment.CommentId}, method: FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0", role = "form" }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    
                    <button class="btn btn-success" type="submit">Sterge comentariu</button>
                }
            }

        </div>
    }

    @using (Html.BeginForm("New", "Comment", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0", role = "form", id = "commentBox" }))
    {
        @Html.Hidden("photoId", Model.PhotoId)
        <input class="form-control mr-sm-2" type="text" placeholder="Adauga un comentariu" name="text" />
        <button class="btn btn-sm btn-success" type="submit">Comenteaza</button>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
